:root {
  --hfb-green: #66cc00;
}

@font-face {
  font-family: "FuturaM";
  src: local("FuturaM"), url("./fonts/FuturaBold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Futura", "FuturaM";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
